var canvas = $('canvas.dots');
var canvasWidth = canvas.width();
var canvasHeight = canvas.height(); 
var dpr = window.devicePixelRatio || 1;
canvas.attr({height: canvasHeight*dpr, width: canvasWidth*dpr});
var context = canvas[0].getContext('2d');
context.scale(dpr,dpr);