*::selection{
    background-color: white;
    color: black;
}


body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgb(19, 19, 19);
    display: grid;
grid-template-columns: 2fr 8fr;

}
h1, h2, h3 {
    font-family: 'lato', sans-serif;
}

.Page{
    overflow-y: scroll;
     height: 100%;
     width: 100%;
    color: white;
    display: none;
    
 }

#Home{

   overflow: hidden;
}
#nav{
    width: 100%;
    z-index: 3;
    height: 100%;
    background: rgb(10, 10, 10);
    display: none ;
    grid-auto-rows: minmax(80px, 12vh) minmax(60px, 9vh)  minmax(60px, 9vh)  minmax(60px, 9vh)  minmax(60px, 9vh)  1fr;

}
.Stitle{
    color: white;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 4
}
.hometitle{
    display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-end;
    font-size: 3.8em;
    font-weight: 100;
    letter-spacing: 1.2vw;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.krimson{
    font-size: 1.5em;
    letter-spacing: 1.2vw;
    background: linear-gradient(135deg, #e712cb, #ff0040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
background-size: 400% 200%;
background-position:100% 100%

}
@keyframes soothing { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.mortingarage{
    background: linear-gradient(135deg, #e712cb, #ff0040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
background-size: 400% 200%;
background-position:100% 100%;
animation: soothing .5s ease-in-out 0s ;
}

.Hcontainer{
    color: white;
    font-size: 1.4em;
    max-width: 100%;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
   
}

.Hcontainer button{
    width: 200px;
    font-size:18px;
    height: 60px;
}

@media only screen and (max-width: 530px) {
    .hometitle{
        font-size: 10vw;
    }
    .Hcontainer{
        font-size: 1.2em;
    }
    .Hcontainer button{
        width: 160px;
        font-size:16px;
        height: 45px;
    }
    .tabs-option{
        font-size: .9em;
    }
  }
  @media only screen and (max-height: 530px) {
    .hometitle{
        font-size: 9vh;
    }
    .Hcontainer{
        font-size: 1em;
    }
    .Hcontainer button{
        width: 160px;
        font-size:16px;
        height: 45px;
    }
  }

  @media only screen and  (max-height: 740px) and (max-width: 500px){
  
  }
.hpage{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10fr 14fr auto;
}



.Hfooter{
   
    bottom: 0px;
    width: 100%;
    background: rgb(8, 8, 8);
    color: rgb(54, 54, 54);
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 100;
    letter-spacing: 2px;
}

  .CC{
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    display: flex;
   transition-duration: 4s;
  }

  #buax{
    width: 100%;
    height: 100%;
  }

  .navitem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #949494;
    background: rgb(10, 10, 10);
    transition-duration: .5s;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
    font-family: 'lato', sans-serif;
  }
  .navitem::before, .navitem::after{
      content: '';
      height: 100%;
      width: 5px;
      background: white;
      position: absolute;
      transition-duration: .5s;
     
  }
  .navitem::before {
    left: 0px;
    transform: translate3d(-5px,0,0);
  }
  .navitem::after{
    right: 0;
    transform: translate3d(5px,0,0);
}


  .navitem:hover{
      cursor: pointer;
  }
  .navitem:hover::before,.navitem:hover::after {
    transform: translate3d(0,0,0);
  }
  .navitem:active{
      background: rgba(255, 255, 255, 0.089);
  }
  #a:hover{
    color: hsl(360, 100%, 60%);
    background:  rgba(252, 16, 16, 0.05);
  }
  #a::before ,#a::after{
      background: hsl(360, 100%, 60%)
  } 
  #b:hover{
    color: hsl(300, 100%, 60%);
    background-color: hsla(300, 100%, 60%, 0.05);
  }
  #b::before ,#b::after{
    background: hsl(300, 100%, 60%)
}
#c:hover{
    color: hsl(240, 100%, 70%);
    background-color: hsla(240, 100%, 70%,.05);
  }
  #c::before ,#c::after{
    background: hsl(240, 100%, 70%)
}
#d:hover{
    color: hsl(55, 100%, 50%);
    background-color:  hsla(55, 100%, 50%,.05);
  }
  #d::before ,#d::after{
    background:  hsl(55, 100%, 50%)
}
  .navtitle{
    width: 100%;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    letter-spacing: 10px;
    font-size: 1.2em;
    text-align: center;
  }
  div.navtitle{
      font-size: 5em;
      color: rgba(255, 255, 255, 0.089);
      background: rgb(15, 15, 15);
      box-sizing: border-box;
      border: 15px solid rgb(10,10,10);
  }
  .navtitle::before, .navtitle::after{
    
    width: 2px;
  }
  @media only screen and (max-width: 1200px) {
    .navtitle{
        letter-spacing: 7px;
    }
}

.more{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background: black
}
#larrow, #rarrow{
    width: 1px; 
    height: 50%;
    position: absolute;
    background: white;
    bottom: 3px;
    transition-duration: 1s;
}
#larrow{
    transform: rotate(45deg) translate3d(-10px,0,0);
}
#rarrow{
    transform: rotate(-45deg) translate3d(10px,0,0);
}
.Page h1{
    font-weight: 300;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2vw;
    font-size: 2em;
    background: rgb(8, 8, 8);

}
.Page h3{
    font-weight: 300;
    padding: 25px;
    letter-spacing: 4px;
    font-size: 1.7em;
    
}
.Page p, .windex{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: 100;
    position: relative;
    line-height: 30px;
}

.componentsdisp {
    padding: 40px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
#Buttons .componentsdisp{
    display: grid;
    justify-content: unset;
    padding: 20px;
    grid-auto-columns: 1fr 2fr;


}
 h1{
    border-bottom: 4px hsl(240, 100%, 70%) solid;
}


#Start h1{
    border-bottom: 4px hsl(300, 100%, 60%) solid;
}
  
    
.componentsdisp a, .nextline{
color: white;
display: flex;
align-items: center;

letter-spacing: 4px;
min-width: 150px;
width: 200px;
min-height: 75px;
transition-duration: .5s;
}
.componentsdisp a{
    border-radius: 25px;
    justify-content: center;
    margin: 25px;
    background: hsl(240, 100%, 70%);
}
.nextline{
padding: 25px;
background: hsla(0, 0%, 100%, 0.144);
color: rgb(255, 255, 255);
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
grid-column: 1;
width: calc(100% - 50px);
text-align: center;
}

.nextline:nth-child(4n+1){
    background: hsla(0, 0%, 100%, 0.11);
    
}
 
   
.code{
    grid-column: 2;
    background:  hsla(0, 0%, 100%, 0.11);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: auto;
    
}
.code:nth-child(4n){
    background: hsla(0, 0%, 100%, 0.144);

}

.nextline button{
    margin-bottom: 15px;
}
.componentsdisp a:hover {
    transform: scale(1.09);
}
 pre, code{
    background: rgb(25, 25, 25);
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    border-radius: 10px;
  margin: 5px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    display: inline-block;
    overflow-x: auto;
    max-width: calc(100% - 50px);
}
code{
    overflow-x: unset;
}
.descp{
    padding: 20px;
    padding-top: 0px;
}

@media only screen and (max-width: 600px) {
    body{
        grid-template-columns:1fr;
        grid-template-rows: 1fr auto;
    }
    .slide{
        transform: translate3d(0,0px,0) !important;
    }
    #nav{

    position: absolute;
    transform: translate3d(0,calc(100% - 40px),0);
    grid-auto-rows: 40px minmax(80px, 12vh) minmax(60px, 9vh) minmax(60px, 9vh) minmax(60px, 9vh) minmax(60px, 9vh) 1fr;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
    }

    
    .more{
        display: flex;
    }
    .Page h1{
        font-size: 2.3em;
        text-align: center
    }
    .Page p:last-of-type{
        padding-bottom: 55px;
    }
    #Buttons .componentsdisp{
        padding-bottom: 50px; 
    }

 
}
@media only screen and (max-width: 830px) {
    #Buttons .componentsdisp {
        grid-auto-columns: 1fr ;
    }
    .code{
        grid-column: 1;
    }
    body{
        grid-template-columns:4fr 9fr;
    }
}
@media only screen and (max-width: 950px) {

    body{
        grid-template-columns:3fr 9fr;
    }
}
  
@media only screen and (max-height: 515px) {
   div.navtitle{
       border: 0px;
        font-size: 2em;

   }
  }

  p code{
        margin: 3px; 
  }
  .mortingarage{
    background: linear-gradient(135deg, #e712cb, #ff0040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
background-size: 400% 200%;
background-position:100% 100%;
animation: soothing 5s ease-in-out 0s infinite ;
position: relative;

}
.mortingarage:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
background: rgb(0, 0, 0);
z-index: -1;
}
.dwnlnk{
padding: 10px;
text-align: center;
background: #e712cb;
transition-duration: .5s;
}
.dwnlnkz{
    display: grid;
gap: 10px;
padding-left: 10px;
padding-right: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr 1fr;
}
.dwnlnk:active{
    background: #ff0040;
}
.dwnlnk:hover{
    cursor: pointer;
}
.italica{
    font-style: italic;
}
.fab{
    font-size: 1.3em;
}

.fa-js-square{
    color: hsl(212, 100%, 60%);
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
div.windex > code{
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;
   
}

.j-elem{
    
}
#installer{  
    --tabs-highlight: 255, 50, 255;
}

#sometab2{
    --ripple-color: rgba(0, 205, 150, 0.2);
    --ripple-size: 15;
    --tabs-highlight : 100, 205, 150;
    --tabs-rail-display : none;
}
.fadeaway{
    opacity: 1;
    animation-name: signalbeam ;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(9.175, 0.885, 0.32, 1.275)
}
@keyframes signalbeam { 
    0%{opacity: 1;}

    100%{
 
    opacity: 0;}
}

.text-space{
    letter-spacing: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
    line-height: 50px;
}

.parallax-base{
    background: rgba(0, 0, 0, .5)
}