*{
    margin: 0px;
    text-decoration: none;

}

:root{
    --ripple-size: 10;
    --ripple-color: rgba(255, 255, 255, 0.5);
    --bracket-color : rgb(255,255,255);
    --corner-color : rgb(255,255,255);
    --transparent-btn-bg: rgba(27, 255, 57, 0.178);
    --btn-travel : 4px;
    --scroll-color : rgba(255, 0, 72, 0.9);
    --tabs-highlight : 255, 109, 121;
    --tabs-min-width : 100px;
    --tabs-rail-display : block;
  }

  .center{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #141414; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

button{
    color: white;
    letter-spacing: 1px;
    border: unset;
    background-color: rgb(29, 29, 29);
    transition-duration: .3s;
    padding: 0px;
    min-width: 120px;
    min-height: 50px;
    font-size: 15px;
    border-radius: 200px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.349);
    margin: 4px;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    font-weight: 400;
    font-family: inherit;
    display: inline-flex;
    justify-content:center; 
    vertical-align: middle;
}
button:focus{
    outline: none;
}
button:hover{
    background-color: rgb(60, 60, 60); 
    transition-duration: .3s;
    cursor: pointer;
}


button:active{
   transform: translate3d(0px,var(--btn-travel),0px);
}

.invert{
    background: rgb(245, 245, 245);
    color: rgb(29, 29, 29);

}
.outline{
    box-sizing: border-box;
    border: white 3px solid;
    color: white;
    background: rgba(0, 0, 0, 0);
}
button.outline:hover{
    border: white 3px solid;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 1);
}
button.invert:hover{
    background: rgb(214, 214, 214);

}
.flat, .corners, .brackets{
    box-shadow: none;
    
}
i{
    line-height: inherit;
}

.gradient, .gradient-2{
    background-image: linear-gradient(45deg ,rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgb(255, 53, 80) 100%);
    background-size: 200% auto;
    transition-duration: .3s;
}
.gradient-2{
    background-image: linear-gradient(45deg , #84fab0 0%, #6dceff 51%, #fff456 100%);
    color: rgb(12, 12, 12);
}

button.gradient:hover, button.gradient-2:hover{
    background-position: right ;
    transition-duration: .3s;
}
.text-gradient{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

button.text-gradient:after{
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    z-index: -1;
}
button.text-gradient:active{
transform: none;

}
.red{
    background-color: rgb(255, 0, 21);
}
button.red:hover{
    background-color: rgb(224, 1, 21);
}
.blue{
    background-color: rgb(4, 0, 255);
}
button.blue:hover{
    background-color: rgb(3, 0, 189);
}
.green{
    background-color: rgb(0, 221, 29);
}
button.green:hover{
    background-color: rgb(0, 180, 15);
}
.glow{
    box-shadow: 0px 0px 6px 0px rgba(0,255,255,.6);
    text-shadow: 0px 0 5px rgb(0,255,255);
}
button.glow:hover{
    box-shadow: 0px 0px 12px -2px rgb(0,255,255);
    text-shadow: 0px 0 10px 2px rgb(0,255,255);
    background-color: rgba(43, 128, 128, 0.63);
}
.corners{
    background: none;
    color:  var(--corner-color);
    border-radius: 0px;
}
.corners span{
   
    height: 100%;
    display: block;
}
.corners:before, .corners:after, .corners span:before, .corners span:after{
    transition: all 0.3s ease;
    position: absolute;
   background-color:  var(--corner-color);
   content: "";
}
.corners:before{
    left: 6px;
    bottom: 4px;
    height: 20px;
    width: 2px;
}
.corners:after{
    left: 6px;
    bottom: 4px;
    width: 20px;
    height: 2px;
}
.corners span:before{
    right: 6px;
    top: 4px;
    height: 20px;
    width: 2px;
}
.corners span:after{ 
    right: 6px;
    top: 4px;
    height: 2px;
    width: 20px;
}
button.corners:hover {
    background: var( --transparent-btn-bg);
}
.corners:hover:before {
  transform: translate3d(-6px,4px,0px);
  height: 25px;
}
.corners:hover:after{
    transform: translate3d(-6px,4px,0px);
    width: 25px;
}
.corners:hover  span:before{
    transform: translate3d(6px,-4px,0px);
  height: 25px;
}
.corners:hover  span:after{
    transform: translate3d(6px,-4px,0px);
  width:  25px;
}
.brackets{
    background: none;
    color: var(--bracket-color);
    border-radius: 0px;
}
button.brackets:hover {
    background: var( --transparent-btn-bg);
}
.br-1,.br-2{
    position: absolute;
    background: var(--bracket-color);
    width: 2px;
    height: 80%;
    top: 10%;
    transition: all 0.3s ease;
}
.br-1{
    left: 5px;
}
.br-1:before, .br-1:after, .br-2:after, .br-2:before{
    position: absolute;
    width: 15px;
    height: 2px;
    background: var(--bracket-color);
    content: "";
    transition: all 0.3s ease;

}
.br-1:before, .br-2:before{
    top: 0;
}
.br-1:before, .br-1::after{
    left: 0px;
}
.br-1:after, .br-2:after{
    bottom: 0;
}
.br-2{
    right: 5px;
}
.br-2:before,.br-2:after{  
    right: 0px;
}
button.brackets:hover .br-1{
    transform: translate3d(-5px,0px,0px);
    height: 100%;
    top: 0%;

}
button.brackets:hover .br-2{
    transform: translate3d(5px,0px,0px);
    height: 100%;
    top: 0%;
}
button.ripple:hover{
    background-color: rgb(43, 43, 43); 
}
button.invert:hover{
    background-color: rgb(170, 170, 170); 
}
.ripple{
 overflow: hidden;
position: relative;
}

.pulser{
    position: absolute;
   
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: var( --ripple-color);
    opacity: 0;
    animation-fill-mode: forwards;
     animation-name: pulsing;
    animation-duration: 1.5s;
   
}
@keyframes pulsing {
    0%  {transform: scale(0);}
    60% {opacity: .8;}
    80% {transform: scale(var(--ripple-size));}

    100%{opacity: 0;}
  }

.btn-icon{


}
.break {
    width: 100%;
  }
.tabs-menu{
    display: grid;
    position: relative;
    grid-template-columns: repeat( auto-fit, minmax(var(--tabs-min-width), 1fr));
    overflow-x: auto;
    grid-auto-flow: column;
}
.tabs-option{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: rgba(25, 25, 25, 1);
    box-sizing: border-box;
    min-width: var(--tabs-min-width);
    transition-duration: .5s;
    position: relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none;
}

.select-rail{
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(var(--tabs-highlight));
    position: absolute;
    bottom: 0px;
    transition-duration: .5s;
    z-index: 2;
    display: var(--tabs-rail-display);
}
.tabs-option:hover{
    cursor: pointer;
    background: rgba(var(--tabs-highlight),.2);
    color: rgba(var(--tabs-highlight),12);
}
.tabs-view{
    padding: 25px;
    background: rgb(61, 61, 61);
    min-width: 100%;
  
    box-sizing: border-box;
    transition-duration: inherit;
}

.flex{
    color: pink;
}
.tabs-window{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.tabs-window.tabs-round{
    border-radius: 0px 0px 30px 30px;
}
.tabs-menu.tabs-round{
    border-radius: 30px 30px 0px 0px;
}
.tabs-animated{
    transition-duration: .5s;
}
.tabs-white > .tabs-option{
    color: rgb(19, 19, 19);
    background: rgb(255, 255, 255);
}
.tabs-white > .tabs-option.disabled{
    color: gray;
    background: lightgray;
}


.tabs-white > .tabs-view{
    color: rgb(19, 19, 19);
    background : rgb(224, 224, 224);
}
.disabled{
    background: lightgray;
    color: gray;
}
button.disabled:hover{
    background: lightgray;
}
.disabled:hover{
    cursor: not-allowed;
}
.disabled:active{
    transform: translate3d(0px,0px,0px);
}
.tabs-option + .disabled{
    background: rgb(50, 50, 50);
}
.tabs-option + .disabled:hover{
    color: gray;
}
.tabs-active{
    color: rgb(var(--tabs-highlight));
    background: rgba(var(--tabs-highlight),.1);
}
.tabs-white > .tabs-active{
    color: rgb(var(--tabs-highlight));
}

.tabs-full-highlight > .tabs-active {
  background: rgb(var(--tabs-highlight));
  color: white;
}